
<p id="notice"><%= notice %></p>

<div id="titre">Liste des tâches</div>
<p>
Nombre de tâches restantes:
<%= @nr %> </p>

<p>
Sélectionnez les tâches que vous souhaitez voir: </br>
  <input type="radio" name="tache" value="1" checked> Toutes<br>
  <input type="radio" name="tache" value="2"> Faites<br>
  <input type="radio" name="tache" value="3"> Restantes <br>
</p>

<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Modifier</th>
      <th>Statut</th>
    </tr>
  </thead>

  <tbody id="restantes">
    <% @todos_restantes.each do |todo| %>   
      <tr>
        <td><%= link_to todo.title, todo %></td>
        <td><%= link_to 'Modifier', edit_todo_path(todo) %></td>
        <td>Restante</td>
      </tr>
    <% end %>
  </tbody>
  

  <tbody id="realisees">
    <% @todos_realisees.each do |todo| %>    
      <tr>
        <td><%= link_to todo.title, todo %></td>
        <td><%= link_to 'Modifier', edit_todo_path(todo) %></td>
        <td> Faite </td> 
      </tr>
    <% end %>
  </tbody>
</table> 



<script> 
$(document).ready(function() {
   $("input[name=tache]:radio").change(function() {
    if((this.value == '1')) {
            $( '#restantes').show();
            $( '#realisees').show();
        } else if((this.value == '2')) {
            $( '#restantes').hide();
            $( '#realisees').show();
          } else if((this.value == '3')) {
            $( '#restantes').show();
            $( '#realisees').hide();
          }
   });
});
</script>

<%= button_to  'Nouvelle tâche', new_todo_path , :method => :get, :class=> "bouton" %>